{% extends 'base.html.twig' %}

{% block title %}
	Car sharing - Home
{% endblock %}

{% block body %}
	<div class="container m-auto row justify-content-between align-items-center g-5">
		<div class="col-xl-4 mt-0">
			<div class="card shadow custom-bg">
				<img src="images/logo.png" class="card-img-top p-2" alt="...">
				<div class="card-body">
					<h5 class="card-title">Car-sharing</h5>
					<span>Sito per pubblicare e prenotare viaggi</span>
				</div>
			</div>
		</div>
		<div class="col-xl-8 mb-5">
			<div class="card p-lg-4 p-2 shadow custom-bg table-responsive">
				<table class="table table-borderless align-middle text-white h-100 my-auto">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Partenza</th>
							<th scope="col">Arrivo</th>
							<th scope="col">Data</th>
							<th scope="col">Costo</th>
							<th scope="col">Durata</th>
							<th scope="col">Animali (si/no)</th>
							<th scope="col">Soste (si/no)</th>
							<th scope="col">Bagaglio (si/no)</th>
							<th scope="col">Targa</th>
						</tr>
					</thead>
					<tbody>
						{% for trip in trips %}
							<tr>
								<th scope="row">{{ trip.id }}</th>
								<td>{{ trip.departureCity }}</td>
								<td>{{ trip.destinationCity }}</td>
								<td>{{ trip.departureDate|date('d/m/Y') }}</td>
								<td>&euro;{{ trip.contribution }}</td>
								<td>{{ trip.travelTime }}
									min</td>
								<td>{{ trip.animal ? 'Sì' : 'No' }}</td>
								<td>{{ trip.stop ? 'Sì' : 'No' }}</td>
								<td>{{ trip.baggage ? 'Sì' : 'No' }}</td>
								<td>{{ trip.car ? trip.car.plate : '' }}</td>
								{% if app.user %}
									<td>
										<a class="btn btn-info" href="{{ path('app_booking', { 'id': trip.id }) }}">Prenota</a>
									</td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
